<main class="page-content">
    <div class="container">
      <h4>Postes</h4>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>touts les disponibles a <b>New access</b> :</p>
         
        </div>
  </div>

  <button kendoButton look="outline" [primary]="true" (click)="open()">Ajouter poste</button></div>
<br>
<div>
  <section class="content" *ngFor="let poste of postes">
    <div class="container-fluid">
      <!-- COLOR PALETTE -->
      <div class="card card-default color-palette-box">
        <div class="card-body">
            <span class="float-left">
            <h6>{{poste.nomPoste}}</h6></span>
            <span class="float-right">
             
                <button kendoButton look="outline" [primary]="true" (click)="competences(poste)" >Competences</button>
                <button kendoButton icon="edit" look="outline" [primary]="true"  (click)="openedit(poste)" ></button>
                <button kendoButton icon="delete" look="outline" [primary]="true" (click)="openDelete(poste)"></button>
              </span>
          
        </div>

</div>
</div>
 </section> </div> 
 </main>
 <kendo-dialog title="Ajout poste" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">

  
    <form [formGroup]="posteform" class ="k-form">
      <fieldset class="k-form-fieldset">
          <legend class="k-form-legend">voulez vous ajouter un poste  </legend>
      <formly-form [form]="posteform" [fields]="posteFields" [model]="posteModel">

          <div class="float-right">
              <div class="k-form-buttons">
                <button kendoButton (click)="ajouter(posteModel)" [primary]="true">Ajout</button>
                <button kendoButton (click)="close()" >Annuler</button>
              </div>
          </div>

      </formly-form>
      </fieldset>
   
  </form>

 
 
</kendo-dialog>
<kendo-dialog title="Modifier poste" *ngIf="o" (close)="close()" [minWidth]="250" [width]="450">

  
  <form [formGroup]="posteform" class ="k-form">
    <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">voulez vous Modifier un poste  </legend>
    <formly-form [form]="posteform" [fields]="posteFields" [model]="posteModel">

        <div class="float-right">
            <div class="k-form-buttons">
              <button kendoButton (click)="ModifierPoste(posteModel)" [primary]="true">Modifier</button>
              <button kendoButton (click)="close()" >Annuler</button>
            </div>
        </div>

    </formly-form>
    </fieldset>
 
</form>



</kendo-dialog>

<kendo-dialog title="Please confirm" *ngIf="d" (close)="close()" [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">voulez-vous supprimer ce poste?</p>
  <kendo-dialog-actions>
      <button kendoButton (click)="delete()" [primary]="true">Supprimer</button>
      <button kendoButton (click)="close()">Annuler</button>
  </kendo-dialog-actions>
</kendo-dialog>