<main class="page-content">
    <div class="container">
      <h4>Competences</h4>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>les <b>Competences</b> associé au poste <b></b> :</p>
         
        </div>
  </div></div>


  <section class="content" *ngFor="let competence of competences">
    <div class="container-fluid">
      <!-- COLOR PALETTE -->
      <div class="card card-default color-palette-box">
        <div class="card-body">
            <span class="float-left">
            <h6>{{competence.nomCompetence}}</h6></span>
            <span class="float-right">
               
              </span>
          
        </div>

</div>
</div>
 </section>  
 </main>
