@font-face {
    font-family: "DejaVu Sans";
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
  }

  kendo-pdf-export {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 12px;
  }