
       <main class="page-content">
        <div class="container">
          <h4>Plan de Carriére</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-12">
              <p>votre plan de carriére au sein de <b>New access</b> :</p>
             
            </div>
      </div></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content">
                                <span class="date">March 10, 2016</span>
                                <h4 class="title">Web Design</h4>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris. Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content right">
                                <span class="date">March 12, 2016</span>
                                <h4 class="title">Web Development</h4>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris. Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content">
                                <span class="date">March 14, 2016</span>
                                <h4 class="title">Brand Building</h4>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris. Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content right">
                                <span class="date">March 16, 2016</span>
                                <h4 class="title">Responsive Design</h4>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris. Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div *ngFor="let l of listeCompetenceparplandecarriere" >{{l.nomCompetence}}<br></div>
       </main>
    



