
       <main class="page-content">
        <div class="container">
          <h4>Plan de Carriére</h4>
          <hr>
          <div class="row">
            <div class="form-group col-md-12">
              <p>votre plan de carriére au sein de <b>New access</b> :</p>
             
            </div>
      </div></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        

                        <div class="timeline" *ngFor="let c of map; let i = index">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content" [class.right]="i % 2 !== 0">
                                <span class="date">{{c.niveau}}</span>
                                <h4 class="title">{{c.nomCompetence}}</h4>
                                <p class="description" *ngFor="let sousComp of c.sousCompetences">
                                        {{sousComp.nomSousCompetence}}
                                </p>
                            </div>
                        </div>

                        

                       
                    </div>
                </div>
            </div>





           
  <section class="content" *ngFor="let c of souscompetences">
            <div>{{c.nomSousCompetence}}</div>
            
            </section>
       </main>

    



